Repository 0l1v3rr/github-readme-tech-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/** --fix, prettier --write .

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint src/** --fix", "prettier --write ."],
  "*.{json,md}": "prettier --write ."
}

install next@canary
  package-lock.json
  package.json
Due: prettier --write .

update vercel.json
  vercel.json
Due: prettier --write .

remove vercel.json
  vercel.json
Due: prettier --write .

add vercel.json
  vercel.json
Due: prettier --write .

chore: add husky
  .husky/pre-commit
  README.md
  package-lock.json
  package.json
Due: prettier --write .

lib: refactor
  .prettierrc.json
  postcss.config.js
  src/app/layout.tsx
  src/components/form/PageSeven.tsx
  src/components/ui/CodeBlock.tsx
  src/const/themes.ts
  src/hooks/useCardUrl.ts
  src/hooks/useMultistepContext.ts
  src/lib/card/badge.ts
  src/lib/card/card-builder.ts
  src/lib/card/card-url-builder.ts
  src/lib/card/card.ts
  src/lib/card/svg-generator.ts
  src/lib/utils/format.ts
  src/lib/utils/validator.ts
Due: eslint src/** --fix, prettier --write .

lib(card-url-generator): refactor
  package-lock.json
  package.json
  src/hooks/useCardUrl.ts
  src/lib/card/card-url-builder.ts
  src/lib/card/svg-generator.ts
Due: eslint src/** --fix, prettier --write .

Select.tsx: bugfix
  src/components/ui/Select.tsx
Due: eslint src/** --fix, prettier --write .

remove the icon from the next button
  src/components/form/FormWrapper.tsx
Due: eslint src/** --fix, prettier --write .

config: increased the contrast of the primary buttons
  tailwind.config.js
Due: none

refactor: refactor some components with forwardRef
  .vercelignore
  public/.gitkeep
  public/next.svg
  public/vercel.svg
  src/components/form/FormWrapper.tsx
  src/components/form/PageOne.tsx
  src/components/form/PageTwo.tsx
  src/components/layout/Flex.tsx
  src/components/lines/NewBadge.tsx
  src/components/lines/Upload.tsx
  src/components/ui/Button.tsx
  src/components/ui/ColorInput.tsx
  src/components/ui/Link.tsx
  src/components/ui/P.tsx
  src/components/ui/RepositoryLink.tsx
  src/components/ui/Select.tsx
Due: eslint src/** --fix, prettier --write .

fix(Header.tsx): unused '@ts-expect-error' directive
  src/components/layout/Header.tsx
Due: eslint src/** --fix, prettier --write .

feat: add storybook
  .eslintrc.json
  .storybook/main.ts
  .storybook/preview.ts
  .vercelignore
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/ui/Button.stories.tsx
  src/components/ui/Button.tsx
  src/types.ts
  tailwind.config.js
Due: eslint src/** --fix, prettier --write .

feat: add multiple stories
  .eslintrc.json
  package.json
  src/components/form/PageSeven.tsx
  src/components/ui/CodeBlock.stories.tsx
  src/components/ui/CodeBlock.tsx
  src/components/ui/Input.stories.tsx
  src/components/ui/Input.tsx
  src/components/ui/Link.stories.tsx
  src/components/ui/Link.tsx
  src/components/ui/Quote.stories.tsx
  src/components/ui/Quote.tsx
  src/components/ui/Select.stories.tsx
  src/components/ui/Select.tsx
  src/components/ui/TrueFalseInput.stories.tsx
  src/components/ui/TrueFalseInput.tsx
  src/types.ts
Due: eslint src/** --fix, prettier --write .

docs(README.md): update the readme card
  README.md
Due: prettier --write .

fix(card-url-builder.ts): the custom theme colors now generated correctly
  README.md
  src/lib/card/card-url-builder.ts
Due: eslint src/** --fix, prettier --write .

docs: update README
  README.md
Due: prettier --write .

refactor
  src/components/form/FormWrapper.tsx
  src/components/layout/Header.tsx
  src/components/lines/BadgeItem.tsx
  src/components/lines/LineItem.tsx
  src/components/lines/NewBadge.tsx
  src/components/lines/Upload.tsx
  src/components/ui/ColorInput.tsx
  src/components/ui/PopupContainer.tsx
  src/const/card.ts
Due: eslint src/** --fix, prettier --write .

fix: attempted import error: 'HEX_COLOR_REGEX' is not exported
  src/lib/card/card-url-builder.ts
  src/lib/card/svg-generator.ts
Due: eslint src/** --fix, prettier --write .

feat(ui/Quote.tsx): design updates
  src/components/form/PageFive.tsx
  src/components/form/PageSix.tsx
  src/components/form/PageTwo.tsx
  src/components/ui/Quote.stories.tsx
  src/components/ui/Quote.tsx
Due: eslint src/** --fix, prettier --write .

fix(NewBadge.tsx): the icon now allows numbers as well
  README.md
  src/components/form/PageFive.tsx
  src/components/form/PageThree.tsx
  src/components/form/PageTwo.tsx
  src/components/lines/BadgePlaceholder.tsx
  src/components/lines/NewBadge.tsx
  src/components/lines/SvgInput.tsx
  src/components/lines/Upload.tsx
  src/components/ui/Select.tsx
  src/types.ts
Due: eslint src/** --fix, prettier --write .

fix(Select.stories.tsx): rename the old props to the new upadted ones
  .prettierignore
  src/components/ui/Select.stories.tsx
Due: eslint src/** --fix, prettier --write .

feat(themes.ts): add jetbrains_new_dark theme
  SECURITY.md
  docs/THEMES.md
  src/const/themes.ts
Due: eslint src/** --fix, prettier --write .

fix(THEMES.md): typo
  docs/THEMES.md
Due: prettier --write .

feat: remove the link from the first page
  src/components/form/PageOne.tsx
Due: eslint src/** --fix, prettier --write .

fix: build issues
  package-lock.json
  package.json
  src/lib/card/card-builder.ts
Due: eslint src/** --fix, prettier --write .

chore: remove dependabot
  .github/dependabot.yml
Due: none

Added a button on page 6 to adjust the number of lines visible
  src/components/form/FormWrapper.tsx
  src/components/form/LineCountAdjuster.tsx
Due: eslint src/** --fix, prettier --write .

Added dark_minimalist theme to themes.ts
  src/const/themes.ts
Due: eslint src/** --fix, prettier --write .

Added dark_minimalist theme to THEMES.md
  docs/THEMES.md
Due: prettier --write .

Fixed colors
  docs/THEMES.md
  src/const/themes.ts
Due: eslint src/** --fix, prettier --write .

bugs in the themes.ts
  src/const/themes.ts
Due: eslint src/** --fix, prettier --write .

new theme-slack
  src/const/themes.ts
Due: eslint src/** --fix, prettier --write .

created slack in Themes.md
  docs/THEMES.md
  src/const/themes.ts
Due: eslint src/** --fix, prettier --write .

created new theme postman
  docs/THEMES.md
  src/const/themes.ts
Due: eslint src/** --fix, prettier --write .

fix: auto colored badges
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/lines/BadgeItem.tsx
  src/components/ui/InputWrapper.tsx
  src/hooks/useOuterClick.ts
Due: eslint src/** --fix, prettier --write .
