Repository 0l1v3rr/github-readme-tech-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/** --fix, prettier --write .

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,html,css}": ["eslint src/** --fix", "prettier --write ."],
  "*.{json,md}": "prettier --write ."
}

backend(Card.ts): add a CardBuilder class with the support of zod and use it in the card-controller
  package-lock.json
  package.json
  src/cards/card-builder.ts
  src/controllers/cards-controller.ts
  src/utils/validator.ts
Due: eslint src/** --fix, prettier --write .

test(themes): add tests to cover themes.ts
  .husky/pre-commit
  test/themes.test.ts
Due: eslint src/** --fix, prettier --write .

(docs): update README.md and add a new npm script
  README.md
  package.json
Due: prettier --write .

client(Header): made the header more responsive
  client/src/components/buttons/ButtonLink.tsx
  client/src/components/repo/Title.tsx
  client/src/sections/Header.tsx
  package.json
Due: eslint src/** --fix, prettier --write .

backend: fix the infinite loop bug when trying to access the endpoints
  src/app.ts
Due: eslint src/** --fix, prettier --write .

client(LineInput.tsx): the icon preview now displays the icon properly
  client/src/components/input/LineInput.tsx
Due: eslint src/** --fix, prettier --write .

client(LinePopup.tsx): added full form validation
  client/src/components/buttons/GreenButton.tsx
  client/src/components/input/LineInput.tsx
  client/src/components/popups/LinePopup.tsx
  client/tailwind.config.js
Due: eslint src/** --fix, prettier --write .

docs: update README.md
  README.md
  docs/THEMES.md
  docs/demo-site-2.png
Due: prettier --write .

chore: cleanup both package-lock.json files
  client/package-lock.json
  client/src/App.tsx
  client/src/index.tsx
  client/src/pages/Header.tsx
  client/src/pages/Options.tsx
  client/src/pages/Preview.tsx
  package-lock.json
Due: eslint src/** --fix, prettier --write .

docs: update README.md
  README.md
  docs/THEMES.md
Due: prettier --write .

backend(themes): add more themes and a script file to preview the theme more easily
  docs/THEMES.md
  scripts/preview_theme.sh
  src/cards/themes.ts
Due: eslint src/** --fix, prettier --write .

refactor(Options.tsx): remove the states and replace them with a single one that stores an object
  README.md
  client/src/components/input/LineInput.tsx
  client/src/components/popups/LinePopup.tsx
  client/src/pages/Options.tsx
  client/src/types/card.ts
  client/src/types/line.ts
  client/src/utils/generate.ts
Due: eslint src/** --fix, prettier --write .

docs: update README
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: prettier --write .

backend(badge-width.ts): the badgeWidth function now uses the SVG string to calculate the width of the badge
  README.md
  src/svg/svg-generator.ts
  src/utils/badge-width.ts
  test/badge-width.test.ts
Due: eslint src/** --fix, prettier --write .

docs: added animated gif
  README.md
  docs/github-readme-tech-stack.gif
Due: prettier --write .

Two new themes added in THEMES.md file
  docs/THEMES.md
Due: prettier --write .

gif: crop extra
  docs/github-readme-tech-stack.gif
Due: none

THEMES.md file modified
  docs/THEMES.md
Due: prettier --write .

docs: align center
  README.md
Due: prettier --write .

docs: update README
  README.md
Due: prettier --write .

backend: add a new fontFamily query param
  README.md
  src/cards/card-builder.ts
  src/cards/card.ts
  src/controllers/cards-controller.ts
  src/svg/svg-generator.ts
Due: eslint src/** --fix, prettier --write .

docs: update REAMDE.md
  README.md
Due: prettier --write .

backend: add a new 'gap' query param
  README.md
  src/cards/card-builder.ts
  src/cards/card.ts
  src/controllers/cards-controller.ts
  src/svg/svg-generator.ts
Due: eslint src/** --fix, prettier --write .

backend: add a new 'lineHeight' query param
  README.md
  src/cards/card-builder.ts
  src/cards/card.ts
  src/controllers/cards-controller.ts
  src/svg/svg-generator.ts
Due: eslint src/** --fix, prettier --write .
